:root {
  --light-primary: #ffffff;
  --light-secondary: #f5f5f5;
  --dark-primary: #1f2a37;
  --dark-secondary: #111928;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#root {
  /* background-color: var(--light-secondary); */
  flex: 1;
  display: flex;
  flex-direction: column;
}

body:has(:not(.dark)) #root {
  background-color: var(--light-secondary);
}
body:has(.dark) #root {
  background-color: var(--dark-secondary);
}

/* @media (prefers-color-scheme: light) {
    #root{
        background-color: var(--light-secondary);
    }
}

@media (prefers-color-scheme: dark) {
    #root{
        background-color: var(--dark-secondary);
    }
} */
