:root {
  --light-primary: #ffffff;
  --light-secondary: #f5f5f5;
  --dark-primary: #1f2a37;
  --dark-secondary: #111928;
  --fc-highlight-color: rgba(119, 232, 255, 0.296);
  --fc-border-color-dark: rgba(73, 73, 73, 0.296);
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
}
#root {
  /* background-color: var(--light-secondary); */
  flex: 1;
  display: flex;
  flex-direction: column;
}

body:has(:not(.dark)) #root {
  background-color: var(--light-secondary);
}
body:has(.dark) #root {
  background-color: var(--dark-secondary);
}

.parent-animation {
  perspective: 500px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 500px;
}

.fade-text {
  mask-image: linear-gradient(to right, black, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to right,
    black,
    black 80%,
    transparent 100%
  );
}

@media (min-width: 640px) {
  body {
    height: 100vh;
  }
}

/* @media (prefers-color-scheme: light) {
    #root{
        background-color: var(--light-secondary);
    }
}

@media (prefers-color-scheme: dark) {
    #root{
        background-color: var(--dark-secondary);
    }
} */

.dark .fc {
  background-color: transparent; /* Tailwind's gray-900 */
  color: #e2e8f0; /* Tailwind's gray-300 */
}

.dark .fc .fc-view-harness {
  background-color: #1a202c;
}

.dark .fc-toolbar-title {
  color: #f9fafb; /* Tailwind's gray-100 */
}

.dark .fc-daygrid-day {
  border-color: #2d3748; /* Tailwind's gray-800 */
}

.dark .fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color-dark);
}

.fc-view-harness,
.fc-timeGridWeek-view .fc-view .fc-timegrid,
.fc-theme-standard .fc-scrollgrid,
.fc-scroller-harness .fc-scroller-harness-liquid {
  border-radius: 10px;
  overflow: hidden;
}

.fc-scrollgrid-section:where(
    :is(.fc-scrollgrid-section-header, .fc-scrollgrid-section-body)
  )
  table,
.fc-timegrid-body {
  width: 100% !important;
}

/* .fc-scroller-harness-liquid {
  width: 100%;
}

.fc-scroller-liquid-absolute {
  overflow: hidden scroll;
  width: 100%;
} */

/* .fc-timegrid-body {
  width: 100% !important;
} */

.dark .fc-timegrid-divider .fc-cell-shaded {
  border: 1px solid var(--fc-border-color-dark);
}
.dark .fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color-dark);
}

.loading .fc .fc-scrollgrid-section.fc-scrollgrid-section-body {
  filter: blur(4px);
}

.dark .fc-theme-standard td,
.dark .fc-theme-standard th {
  border: 1px solid var(--fc-border-color-dark);
}

.dark .fc-theme-standard th {
  background-color: #1f2937;
}

.fc-theme-standard th {
  background-color: #e5e7eb;
}

.fc-theme-standard th:first-child {
  border-top-left-radius: 10px;
}

.fc-theme-standard th:last-child {
  border-top-right-radius: 10px;
}

/* .dark .fc .fc-view-harness */

.fc-timegrid-slot-minor {
  background-color: #e5e5e5;
}

.dark .fc-timegrid-slot-minor {
  background-color: #1c2531;
}

.fc-timegrid-col.fc-day-today {
  position: relative;
  z-index: 10;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 8px 4px;
}

.dark .fc-timegrid-col.fc-day-today {
  background-color: rgba(255, 220, 40, 0.09);
}

.dark .fc-daygrid-day:hover {
  background-color: #4a5568; /* Tailwind's gray-700 */
}

.fc .fc-button {
  background-color: var(--brand-color-700); /* Tailwind's blue-700 */
  border: white;
  color: #f9fafb; /* Tailwind's gray-100 */
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--brand-color-900); /* Tailwind's blue-700 */
  color: #f9fafb; /* Tailwind's gray-100 */
}

.fc .fc-button:hover {
  background-color: var(--brand-color-600); /* Tailwind's blue-600 */
}

.dark .fc .fc-highlight {
  background-color: rgba(54, 111, 122, 0.296);
}

/* .dark .fc-v-event {
  background-color: red;
} */

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
  background-color: #111827 !important;
}

.apexcharts-tooltip.apexcharts-theme-dark {
  background: #111928c6 !important;

  box-shadow: 2px 2px 6px -4px #1f2937 !important;
}

.apexcharts-xaxistooltip.apexcharts-theme-dark {
  background: #111928cf !important;
  border: 1px solid #1c2531d8 !important;
  color: #fff;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark::after,
.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark::before {
  border-bottom-color: #1c2531d8 !important;
}
