:root{
    --light-primary: #FFFFFF;
    --light-secondary: #F5F5F5;
    --dark-primary: #1F2A37;
    --dark-secondary: #111928;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#root{
    background-color: var(--light-secondary);
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
    #root{
        background-color: var(--light-secondary);
    }
}

@media (prefers-color-scheme: dark) {
    #root{
        background-color: var(--dark-secondary);
    }
}

