@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-default {
    @apply mb-2 me-2 h-10 w-full rounded-s bg-blue-700 px-5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .btn-danger {
    @apply mb-2 me-2 h-10 w-full rounded-s bg-red-700 px-5 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
  }

  .btn-gray {
    @apply mb-2 me-2 h-10 w-full rounded-s bg-gray-200 px-5 text-sm font-medium text-gray-900 hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-400 dark:bg-gray-500 dark:text-gray-50 dark:hover:bg-gray-600 dark:focus:ring-gray-700;
  }

  .btn-dark {
    @apply mb-2 me-2 h-10 w-full rounded-s bg-gray-800 px-5 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-600;
  }

  .btn-outline {
    @apply mb-2 me-2 h-10 w-full rounded-s border border-gray-300 px-5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700;
  }

  .locked {
    @apply pointer-events-none bg-gray-300 opacity-60 before:absolute before:right-0 before:top-0 before:-translate-y-1/3 before:translate-x-1/3 before:font-['Material_Icons'] before:text-gray-600 before:content-['\e897'] dark:bg-gray-500 dark:opacity-45 before:dark:text-gray-300;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
